body {
    margin: 0;
    min-width: 250px;
    /* background-image: url("../images/2546011.jpg"); */
    background: linear-gradient(45deg, #32ff92 0%, #2bc3ff 83%);
    min-height: 100vh;
}


/* Include the padding and border in an element's total width and height */

* {
    box-sizing: border-box;
}


/* Remove margins and padding from the list */

ul {
    margin: 0;
    padding: 0;
}


/* Style the list items */

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 15px;
    margin-bottom: 6px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Set all odd list items to a different color (zebra-stripes) */

ul li:nth-child(odd) {
    background: #f9f9f9;
}


/* Darker background-color on hover */

ul li:hover {
    background: #ddd;
}


/* When clicked on, add a background color and strike out text */

ul li.checkedli{
    background: #888;
    color: #fff;
    text-decoration: line-through;
}


/* Style the close button */

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 16px 12px 18px;
    font-weight: 900;
}

.modalClose {
    position: absolute;
    right: 15px;
    top: 20px;
    border: none;
    background-color: white;
    color: rgb(82, 81, 81);
    /* padding: 12px 16px 12px 16px; */
    font-weight: 900;
}

.close:hover {
    /* background-color: #f44336; */
    color: rgb(0, 0, 0);
    /* border-radius: 5px; */
}

.edit {
    /* float: right; */
    right: 10px;
    top: 0;
    padding: 12px 18px 12px 16px;
    font-weight: 900;
    font-size: 20px;
    color: rgb(113, 121, 9);
    position: absolute;
    margin-right: 4%;
}

.edit:hover {
    /* background-color: yellowgreen;
    border-radius: 5px; */
    color: rgb(75, 52, 4);
}

/*  checkbox style  */
.list input{
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
  
.list label {
    position: relative;
    /* cursor: default; */
    /* padding-left: 20px; */
}

.list label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.list input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Style the header */

.wrapper {
    background: #fff;
    max-width: 50%;
    width: 100%;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.wrapper .inputField {
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
}

.inputField input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
}

.inputField input:focus {
    border-color: #000080;
}

.inputField button {
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    background: #000080;
    cursor: pointer !important;
    border: none;
    border-radius: 3px;
    opacity: 0.6;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

.editInput input {
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
}

.editInput input:focus {
    border-color: #000080;
}

.inputField button:hover,
.footer button:hover {
    background: #000080;
    box-shadow: 0px 15px 20px #c0b4d1;
    transform: translateY(-2px);
}

.modal{
    top: 20%;
}

.wrapper .todoList {
    max-height: 250px;
    overflow-y: auto;
}

.todoList li {
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.footer button {
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    background: #000080;
    cursor: pointer !important;
    user-select: none;
    opacity: 0.6;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}


/* Clear floats after the header */

.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.hideText {
    display: none;
}

@media only screen and (max-width: 414px) {
    /* Style the input */
    input {
        margin: 0 10px !important;
        width: 55%;
        padding: 10px;
        font-size: 16px;
    }
    /* Style the "Add" button */
    .addBtn {
        width: 35%;
        font-size: 15px;
    }
}