body {
    margin: 0;
    min-width: 250px;
    /* background-image: url("../images/2546011.jpg"); */
    background: linear-gradient(45deg, #32ff92 0%, #2bc3ff 83%);
    min-height: 100vh;
}


/* Include the padding and border in an element's total width and height */

* {
    box-sizing: border-box;
}


/* Remove margins and padding from the list */

ul {
    margin: 0;
    padding: 0;
}


/* Style the list items */

ul li {
    /* cursor: pointer; */
    position: relative;
    padding: 12px 8px 12px 15px;
    margin-bottom: 6px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Set all odd list items to a different color (zebra-stripes) */

ul li:nth-child(odd) {
    background: #f9f9f9;
}


/* Darker background-color on hover */

ul li:hover {
    background: #ddd;
}


/* When clicked on, add a background color and strike out text */

ul li.checkedli {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}


/* Style the close button */

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 16px 12px 18px;
    font-weight: 900;
    cursor: pointer;
}

.modalClose {
    position: absolute;
    right: 15px;
    top: 20px;
    border: none;
    background-color: white;
    color: rgb(82, 81, 81);
    /* padding: 12px 16px 12px 16px; */
    font-weight: 900;
}

.edit-modalClose {
    position: absolute;
    right: 15px;
    top: 20px;
    border: none;
    /* background-image: linear-gradient(to bottom right, rgb(37, 131, 255), rgb(37, 255, 48)); */
    background-color: rgba(70, 241, 78, 0);
    color: rgb(255, 254, 254);
    /* padding: 12px 16px 12px 16px; */
    font-weight: 900;
}

.close:hover {
    /* background-color: #f44336; */
    color: rgb(0, 0, 0);
    /* border-radius: 5px; */
}

.edit {
    /* float: right; */
    right: 10px;
    top: 0;
    padding: 12px 18px 12px 16px;
    font-weight: 900;
    font-size: 20px;
    color: rgb(113, 121, 9);
    position: absolute;
    margin-right: 4%;
    cursor: pointer;
}

.edit:hover {
    /* background-color: yellowgreen;
    border-radius: 5px; */
    color: rgb(75, 52, 4);
}


/*  checkbox style  */

.styled-checkbox {
    position: absolute;
    margin-top: 7px;
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    outline: none;
}

.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox+label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    background: white;
    border: 2px solid #0079bf;
    margin-top: 5px;
}

.styled-checkbox:focus+label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked+label:before {
    background: #004c79;
    border: 2px solid #004c79;
}

.styled-checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked+label:after {
    content: "";
    position: absolute;
    left: 4px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
    margin-top: 5px
}

.label-color {
    color:rgb(61, 74, 87);
    font-family: cursive;
}

/* Style the header */

.wrapper {
    background: #fff;
    max-width: 50%;
    width: 100%;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    display: none;
}

.wrapper1 {
    background: #fff;
    max-width: 80%;
    width: 100%;
    margin: 70px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.proj-create {
    margin-left: 6%;
    display: block;
    /* text-align: center; */
}

.show-created {
    display: flex;
    justify-content: left;
    margin-left: 10% !important;
}

.proj-block {
    background-color: rgb(148, 167, 185);
    display: block;
    margin: 10px;
    padding: 20px;
    height: 200px;
    box-shadow: 2px 2px rgb(185, 208, 230);
    overflow-wrap: break-word;
}

.proj-block h4 {
    color: rgb(56, 42, 6);
    font-family: cursive;
}

.proj-block p {
    font-size: medium;
    color: black;
    font-family: cursive;
}

.proj-create-button {
    padding: 8px 80px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    margin-top: 10px;
    background: #6d8f1d;
    cursor: pointer !important;
    user-select: none;
    opacity: 0.6;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

.wrapper header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: cursive;
}

::-webkit-input-placeholder {
    font-family: cursive;
}

.wrapper .inputField {
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 45px;
}

.inputField input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
    font-family: cursive;
}

.inputField input:focus {
    border-color: #000080;
}

.inputField button {
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    background: #003380;
    cursor: pointer !important;
    border: none;
    border-radius: 3px;
    opacity: 0.6;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

/* .input-style input {
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
}

.input-style input:focus {
    border-color: #000080;
}

.input-style label {
    text-align: left !important;
    margin-top: 10px !important;
    display: inline-block;
    position: relative;
} */

/* .modal {
    background-color: rgba(51, 51, 51, 0.705) !important;
} */

.input-style {
    /* display: flex;
	flex-wrap: wrap; */
    /* margin-bottom: 1em;
    padding: 10px; */
    text-align: left;
    color: rgb(255, 255, 255);
}

.input-style input, 
.input-style select,
.input-style textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	margin-top: 0.5em;
    width: 90%;
    padding: 10px;
    color: rgb(26, 33, 97);
}

.input-style input{
    line-height: 1.5em;
}

.input-style select {
	border: 1px solid #ccc;
	background-color: #fff;
}

.input-style label {
	display: block;
	margin: 0.75em 0;
	font-weight: bold;
}

.input-style input[type=text],
.input-style input[type=datetime-local],
.input-style select,
.input-style textarea {
    border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 2px;
	vertical-align: middle;
	box-sizing: border-box;
	max-width: 100%;
	padding: 0.5em 0.6em;
	margin-bottom: 0.5em;
}

.input-style input:focus:invalid,
.input-style select:focus:invalid,
.input-style textarea:focus:invalid {
	color: #b94a48;
	border-color: #e9322d;
}

.input-style input:not([type]) {
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 0.5em 0.6em;
}

.input-style textarea { line-height: 1.25em; }

.inputField button:hover{
    background: #0053cf;
    box-shadow: 0px 15px 20px #c0b4d1;
    transform: translateY(-2px);
}

.footer button:hover {
    background: #80001c;
    box-shadow: 0px 15px 20px #c0b4d1;
    transform: translateY(-2px);
}

.completed_tasts_header button:hover {
    background: #80001c;
    box-shadow: 0px 15px 20px #c0b4d1;
    transform: translateY(-2px);
}

.modal {
    /* text-align: center; */
    padding: 0!important;
}
  
.modal:before {
    content: '';
    display: inline-block;
    height: 15%;
    vertical-align: middle;
    margin-right: -4px;
}

.edit-modal-color {
    /* background-color: rgba(98, 131, 173, 0.651); */
    background-image: linear-gradient(to bottom right, rgb(37, 131, 255), rgb(37, 255, 48))
}

.wrapper .todoList {
    max-height: 250px;
    overflow-y: auto;
}

.todoList li {
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    border-top: dotted 1px gray;
}

.footer button {
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    margin-top: 10px;
    background: #a80000;
    cursor: pointer !important;
    user-select: none;
    opacity: 0.6;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

.completed_tasts_header{
    display: flex;
    width: 100%;
    /* height: 40px; */
    align-items: center;
    justify-content: space-between;
}

.completed_tasts_header button {
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    margin-top: -15px;
    background: #b60000;
    cursor: pointer !important;
    user-select: none;
    opacity: 0.6;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

hr {
    border-top: dotted 1px gray;
}

.pending_tasks h5 {
    font-family: cursive;
    font-size: medium;
    padding-bottom: 15px;
}

.completed_tasks h5 {
    font-family: cursive;
    font-size: medium;
    padding-bottom: 15px;
}

/* input date style */
/* .datepicker-toggle {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 19px;
}
.datepicker-toggle-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;base64,...');
} */

/* Clear floats after the header */

.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.hideText {
    display: none;
}

@media only screen and (max-width: 414px) {
    /* Style the input */
    input {
        margin: 0 10px !important;
        width: 55%;
        padding: 10px;
        font-size: 16px;
    }
    /* Style the "Add" button */
    .addBtn {
        width: 35%;
        font-size: 15px;
    }
}